**/*.md
**/*.svg
**/*.ejs
**/*.html
package.json
.umi
.umi-production

node_modules
dist
public
src/components/CleanUIComponents
src/components/LayoutComponents
src/assets/styles
src/pages/original-template