@import '../CommonPage/style.scss';

.assetTypes {
  margin-bottom: rem(10);
}

.sortContainer {
  margin-bottom: 10px;
  display: flex;
}

.btnCTA {
  display: flex;
  align-items: center;
  float: right;
}

.marginRight5 {
  margin-right: 5px;
}
