@import '@/assets/styles/mixins.scss';

.assetsConainer {
  display: flex;
  flex-direction: column;
  margin: -16px;
}

.switch {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 1;
}

.switchContainer {
  position: relative;
}

.assetTypes {
  margin-bottom: rem(10);
}

.filterWrapper {
  margin-bottom: rem(10);
}
