@import '@/assets/styles/mixins.scss';
@import '../Common/style.scss';

.searchableTree :global(.ant-select-selection) {
  background: rgba(255, 255, 255, 0.5);
  border: solid 1px $battleship-grey;
}

.buttonGroup {
  display: flex;
  margin-left: 5px;
}

.goBtn {
  flex: 1;
  background: rgba(255, 255, 255, 0.5);
  border: solid 1px $battleship-grey;
}

.secondaryButton {
  padding-left: 5px;
  padding-right: 5px;
  background: rgba(171, 186, 199, 0.5) !important;
  border: solid 1px $battleship-grey !important;
}

.selectContainer {
  margin: 10px 0 0 0;
}
