<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="manifest" href="/manifest.json">
  <!-- <link rel="icon" type="image/png" href="/favicon.png" /> -->
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/resources/fonts/font-icomoon/style.css">
  <link rel="stylesheet" type="text/css" href="/resources/fonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/resources/fonts/font-linearicons/style.css">
  <script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
  <script src='https://static.matterport.com/showcase-sdk/1.2.0-0-g1d0799d/sdk.js'></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <link rel="shortcut icon" href="/resources/favicons/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="/resources/favicons/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="/resources/favicons/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="/resources/favicons/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/resources/favicons/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/resources/favicons/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/resources/favicons/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/resources/favicons/favicon-16.png">
  <link rel="apple-touch-icon" href="/resources/favicons/favicon-57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/resources/favicons/favicon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/resources/favicons/favicon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/resources/favicons/favicon-144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/resources/favicons/favicon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/resources/favicons/favicon-120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/resources/favicons/favicon-76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/resources/favicons/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/resources/favicons/favicon-180.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/resources/favicons/favicon-144.png">
  <meta name="msapplication-config" content="/resources/favicons/browserconfig.xml">
</head>
<body>
  <div id="root"></div>
</body>
</html>
