@import '@/assets/styles/mixins.scss';

.card {
  padding: 0;
  height: calc(100% - 10px);
  border: 1px solid $sky-grey;
  margin: 5px 0;
  cursor: pointer;
}

.menuContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  max-height: 80%;
  overflow: auto;
  width: 50%;
}
