@import '../../../DataCollection/Pages/CommonPage/style.scss';

.dashboardTitle {
  display: flex;
  margin-bottom: 20px;

  .dashboardLabel {
    font-weight: bold;
    color: $slate-grey;
    font-size: $font-size-lg;
  }

  .assetManagementLabel {
    color: $battleship-grey;
    font-weight: normal;
    font-size: $font-size-lg;
  }
}

.dashboardViewSwitch {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  .switch {
    height: 32px !important;
    width: 60px !important;
    margin-right: 15px !important;
    background: $pink !important;
    &::after {
      width: 24px;
      height: 24px;
      top: 3px;
      left: 3px;
    }
    &:global(.ant-switch-checked)::after {
      left: 100%;
      margin-left: -3px;
      transform: translateX(-100%);
    }
  }
}

.sortContainer {
  margin-bottom: 20px;
  display: flex;
}

.manufacturerColumn {
  @media only screen and (max-width: 1700px) {
    display: none;
  }
}
