@import '@/assets/styles/mixins.scss';

.rag {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: solid 1px $slate-grey;
  margin-right: 5px;
}

.ragWrapper {
  display: flex;
  align-items: center;
}

.actionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  button {
    height: 40px;
  }
}

.submitBtn {
  background: $pink;
  color: #fff;
}

.information {
  background-color: rgba(226, 252, 252, 0.25);
  border-radius: 2px;
  border: solid $link-blue 1px;
  padding: 10px 20px 20px 10px;
  margin-bottom: 10px;

  .exclamation {
    color: $link-blue;
    margin-right: 10px;
    font-size: $font-size-xxl;
  }
  .description {
    margin-left: 40px;
    margin-top: -25px;
  }
}

.disableClick {
  pointer-events: none;
}

.completeFloorCollapse {
  :global(.ant-collapse-item.ant-collapse-no-arrow) > :global(.ant-collapse-header) {
    padding-left: 40px;
  }

  :global(.ant-collapse-content) > :global(.ant-collapse-content-box) {
    padding-left: 55px;
  }
}
