@import '@/assets/styles/Antd/import/form.scss';

.btnCopyGroup {
  margin-right: -10px;
  float: right;
}

.btnCopyGroup button {
  color: rgb(234, 76, 86);
  border-color: rgb(234, 76, 86);
}

.btnCopy {
  padding: 0 10px;
}
