@import '@/assets/styles/mixins.scss';

.gridContainer {
  width: 100%;
}

.container {
  background: transparent;
  height: 100%;

  @media (max-width: $md-max-width) {
    position: absolute;
  }
}

.menuLeftContainer {
  @media (min-width: $xxl-min-width) {
    width: 5%;
  }
}

.contentArea {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100vw;
}

.contentContainer {
  @media (min-width: $xxl-min-width) {
    width: 95%;
  }
}
